<body>
    <p>Hello friend</p>
    <script type="text/javascript">
        var katoAdhocReadCookie = function () {
            var nameEQ = 'KATO_ADHOC_TOKEN' + '=';
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
        var katoContainer = document.createElement('div');
        katoContainer.id = 'katoContainer';
        katoContainer.style.display = 'block';
        katoContainer.style.position = 'fixed';
        katoContainer.style.right = '20px';
        katoContainer.style.bottom = '0px';
        katoContainer.style['background-color'] = '#fcfcfc';
        katoContainer.style.border = '10px solid #fcfcfc';

        katoContainer.innerHTML = "<a style='font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; color: #666666; text-decoration: none; float: right; clear: both; margin-bottom: 10px;' id='katoButton' href='#' onclick='toggleKatoRoom();'>Support</a><div id='katoContainerInner' style='display: none;'><iframe style='height:350px;' frameBorder='0' src='http://app.kato.im/adhoc#/dychNluc2WxxX46N-odG3aOBxF_h4o39P_y3eNZf7Pc/" + katoAdhocReadCookie() + "'></iframe></div>";
        document.body.appendChild(katoContainer);

        var toggleKatoRoom = function () {
            var el = document.getElementById('katoButton');
            var iframeContainer = document.getElementById('katoContainerInner');
            if (iframeContainer.style.display === 'none') {
                el.innerHTML = 'Hide';
                iframeContainer.style.display = 'block'
            } else {
                el.innerHTML = 'Support';
                iframeContainer.style.display = 'none'
            }
        };
    </script>
</body>
